.run/*
node_modules/*
.idea/*
dist/*
test/debug/*
test/debug
test/.DS_Store
testLogs.txt
results.txt
.DS_Store
.travis.yml
allure-results/**
logs_screenshots/**
!allure-results/**/*.gitkeep
!logs_screenshots/**/*.gitkeep
.scannerwork
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
.env
report
coverage
.nyc_output
report
env/*
!env/*gitkeep
.npmrc
logs
!assets/ftp/*gitkeep
!assets/s3/*gitkeep
!downloads/zipFiles/*gitkeep
downloads/zipFiles/*
allure-report/**
!allure-report/.gitkeep